.l1{
    width:13vw;
    left:66%;
    top:57%;
    padding: 10px 30px;
    min-width: 180px;
}
.gallery2{
    display:none;
}
.l2{
    width:13vw;
    left:13%;
    top:43%;
    padding: 10px 30px;
    min-width: 180px;
}
.content:hover .mask{
    top:52%;
}
.content:hover .mask2{
    top:42%;
}
.content:hover .mask4{
    top:62%;
}
 /*morenews*/
 .l3,
 .l4{
    width:128px;
    height:38px;
 }
 .rownews{
    height:435px;
 }