.logo{
    width:103px;
}
.l1{
    top:78%;
    min-width: 140px;
}
.gallery2 p{
font-size: 3vw;
}
.gallery2 h4{
font-size: 4vw;
}
.gallery2 .card-body h5{
    font-size:3.5vw;
}
.l2{
    display: none;
}
 /*morenews*/
 .l3,
 .l4{
    width:98px;
    height:30px;
 }
 .rownews2height{
    height:438px;
 }
 .img-height{
    height: 180px;
 }