.logo{
    width:103px;
}
.l1{
    top:78%;
   min-width: 140px;
}
 /*morenews*/
 .l3,
 .l4{
    width:98px;
    height:30px;
 }
 /*.rownews2height{
    height:438px;
 }*/
 .img-height{
    height: 180px;
 }
