.logo{
    width:133px;
}
.l1{
    left:66%;
    top:57%;
    min-width: 180px;
}
.l2{
    width:13vw;
    left:13%;
    top:43%;
    min-width: 180px;
}
 /*morenews*/
 .l3,
 .l4{
    width:128px;
    height:38px;
 }
 .rownews{
    height:455px;
 }
