.l1{
    top:78%;
    min-width: 140px;
}
.gallery1{
    display:none;
}
.l2{
    display: none;
}
 /*morenews*/
 .l3,
 .l4{
    width:98px;
    height:30px;
 }
 /*.rownews2height{
    margin-bottom: 450px;
 }*/

 .img-height{
    height: 300px;
 }