.l1{
    left:33vw;
    top:78%;
    padding: 10px 30px;
    min-width: 140px;
}
.banner1-1{
    display: none;
}
.gallery1{
    display:none;
}
.l2{
    display: none;
}
 /*morenews*/
 .l3,
 .l4{
    width:98px;
    height:30px;
 }
 .rownews2height{
    height:438px;
 }
