.mainimage{
    background:url(../images/boyheader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.btn1{
    background-color: rgb(199, 59, 199);
    border: none;
    border-radius: 0;
}
