
@font-face {
    font-family: 'muliregular';
    src: url('../font/webfontkit-20231202-123258/muli-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mulibold';
    src: url('../font/webfontkit-20231202-123258/muli-bold-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mulibolditalic';
    src: url('../font/webfontkit-20231202-123258/muli-bolditalic-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'muliextralight';
    src: url('../font/webfontkit-20231202-123258/muli-extralight-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'muliextralightitalic';
    src: url('../font/webfontkit-20231202-123258/uli-extralightitalic-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'muliregularitalic';
    src: url('../font/webfontkit-20231202-123258/muli-italic-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mulilight';
    src: url('../font/webfontkit-20231202-123258/muli-light-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mulilightitalic';
    src: url('../font/webfontkit-20231202-123258/muli-lightitalic-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mulisemibold';
    src: url('../font/webfontkit-20231202-123258/muli-semibold-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mulisemibolditalic';
    src: url('../font/webfontkit-20231202-123258/muli-semi-bolditalic-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-semi-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'muliregular';
    src: url('../font/webfontkit-20231202-123258/muli-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html,body{
    font-family: 'muliregular';
}
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

.mainimage{
    background:url(../images/boyheader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.btn1{
    background-color: rgb(199, 59, 199);
    border: none;
    border-radius: 0;
}

.line{
    width: 2px;
    height:60px;
}
.boxes{
    border:1px solid rgba(195, 190, 190, 0.413);
    transition: 1s;
}
.boxes:hover{
    border:1.5px solid rgb(132, 40, 212);
}
.gallery1{
    top:50%;
}
.gallery1 img{
    height:410px;
}
